Repository microsoft/LightGBM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guolinke, @StrikerRUS, @jameslamb, @shiyu1994, @Laurae2, @chivee, @wxchan, @henry0312, @btrotta, @huanzhang12

ci(gitlab): make install python
  .gitlab-ci.yml
Owners: @StrikerRUS, @jameslamb

ci(gitlab): fix python install
  .gitlab-ci.yml
Owners: @StrikerRUS, @jameslamb

ci(gitlab): try fix cannot find lgbm after build
  .gitlab-ci.yml
Owners: @StrikerRUS, @jameslamb

ci(gitlab): try fix artifacts not found err
  .gitlab-ci.yml
Owners: @StrikerRUS, @jameslamb

ci(gitlab): try fix artifacts not found err 3
  .gitlab-ci.yml
Owners: @StrikerRUS, @jameslamb

added aliases to params (#4205)
  docs/Parameters.rst
  include/LightGBM/config.h
  src/io/config_auto.cpp
Owners: @StrikerRUS, @jameslamb, @guolinke, @chivee, @btrotta, @shiyu1994

add _pad_eval_names to handle nondeterministic evals_result_ valid set names
  python-package/lightgbm/dask.py
  tests/python_package_test/test_dask.py
Owners: @jameslamb

fix MRO resolution
  python-package/lightgbm/compat.py
Owners: @StrikerRUS, @chivee, @wxchan, @henry0312, @shiyu1994, @jameslamb

.github/CODEOWNERS:

# This file controls default reviewers for LightGBM code.
# See https://help.github.com/en/articles/about-code-owners
# for details
#
# Maintainers are encouraged to use their best discretion in
# setting reviewers on PRs manually, but this file should
# offer a reasonable automatic best-guess

# catch-all rule (this only gets matched if no rules below match)
*    @guolinke @StrikerRUS @jameslamb @shiyu1994

# other catch-alls that will get matched if specific rules below are not matched
*.R    @Laurae2 @jameslamb
*.py    @StrikerRUS @chivee @wxchan @henry0312 @shiyu1994
*.cpp    @guolinke @chivee @btrotta @shiyu1994
*.h    @guolinke @chivee @btrotta @shiyu1994

# main C++ code
include/    @guolinke @chivee @btrotta @shiyu1994
src/    @guolinke @chivee @btrotta @shiyu1994
CMakeLists.txt    @guolinke @chivee @Laurae2 @jameslamb @wxchan @henry0312 @StrikerRUS @huanzhang12 @btrotta @shiyu1994
tests/c_api_test/    @guolinke @chivee @btrotta @shiyu1994
tests/cpp_tests/    @guolinke @chivee @btrotta @shiyu1994
tests/data/    @guolinke @chivee @btrotta @shiyu1994
windows/    @guolinke @chivee @btrotta @StrikerRUS @shiyu1994

# R code
build_r.R    @jameslamb @StrikerRUS
build-cran-package.sh    @jameslamb @StrikerRUS
R-package/    @Laurae2 @jameslamb

# Python code
python-package/    @StrikerRUS @chivee @wxchan @henry0312 @shiyu1994 @jameslamb

# Dask integration
python-package/lightgbm/dask.py    @jameslamb
tests/python_package_test/test_dask.py    @jameslamb

# helpers
helpers/    @StrikerRUS @guolinke

# CI administrative stuff
.ci/    @StrikerRUS @jameslamb
docs/    @StrikerRUS @jameslamb
examples/     @StrikerRUS @jameslamb @guolinke
*.yml    @StrikerRUS @jameslamb
.vsts-ci.yml    @StrikerRUS @jameslamb

# docker setup
docker/    @StrikerRUS @jameslamb
docker/dockerfile-cli    @guolinke @chivee @shiyu1994
docker/gpu/    @huanzhang12
docker/dockerfile-python    @StrikerRUS @chivee @wxchan @henry0312 @shiyu1994
docker/dockerfile-r    @Laurae2 @jameslamb

# GPU code
docs/GPU-*.rst    @huanzhang12
src/treelearner/gpu_tree_learner.cpp    @huanzhang12 @guolinke @chivee @shiyu1994
src/treelearner/tree_learner.cpp    @huanzhang12 @guolinke @chivee @shiyu1994

# JAVA code
swig/    @guolinke @chivee @shiyu1994
