Repository microsoft/LightGBM, pull requests merged in 2019-09, with the labels that each got.

#2176 [docs][R] added R-package docs generation routines
  .readthedocs.yml
  R-package/.Rbuildignore
  R-package/DESCRIPTION
  R-package/R/lgb.Booster.R
  R-package/R/lgb.Dataset.R
  R-package/R/lgb.Predictor.R
  R-package/R/lgb.cv.R
  R-package/R/lgb.importance.R
  R-package/R/lgb.interprete.R
  R-package/R/lgb.model.dt.tree.R
  R-package/R/lgb.plot.importance.R
  R-package/R/lgb.plot.interpretation.R
  R-package/R/lgb.prepare.R
  R-package/R/lgb.prepare2.R
  R-package/R/lgb.train.R
  R-package/R/lgb.unloader.R
  R-package/R/lightgbm.R
  R-package/R/readRDS.lgb.Booster.R
  R-package/R/saveRDS.lgb.Booster.R
  R-package/README.md
  R-package/_pkgdown.yml
  build_r.R
  build_r_site.R
  docs/.linkcheckerrc
  docs/R-API.rst
  docs/README.rst
  docs/conf.py
  docs/index.rst
Labels: awaiting-review, r-package

#2375 [docs] R docs cleanup
  R-package/R/lgb.Dataset.R
  R-package/R/lgb.prepare.R
  R-package/R/lgb.prepare2.R
  R-package/R/lgb.prepare_rules.R
  R-package/R/lgb.prepare_rules2.R
  R-package/R/readRDS.lgb.Booster.R
  R-package/R/saveRDS.lgb.Booster.R
  R-package/man/dim.Rd
  R-package/man/getinfo.Rd
  R-package/man/lgb.Dataset.Rd
  R-package/man/lgb.Dataset.create.valid.Rd
  R-package/man/lgb.Dataset.save.Rd
  R-package/man/lgb.cv.Rd
  R-package/man/lgb.dump.Rd
  R-package/man/lgb.get.eval.result.Rd
  R-package/man/lgb.importance.Rd
  R-package/man/lgb.interprete.Rd
  R-package/man/lgb.load.Rd
  R-package/man/lgb.model.dt.tree.Rd
  R-package/man/lgb.plot.importance.Rd
  R-package/man/lgb.plot.interpretation.Rd
  R-package/man/lgb.prepare.Rd
  R-package/man/lgb.prepare2.Rd
  R-package/man/lgb.prepare_rules.Rd
  R-package/man/lgb.prepare_rules2.Rd
  R-package/man/lgb.save.Rd
  R-package/man/lgb.train.Rd
  R-package/man/lgb.unloader.Rd
  R-package/man/predict.lgb.Booster.Rd
  R-package/man/readRDS.lgb.Booster.Rd
  R-package/man/saveRDS.lgb.Booster.Rd
  R-package/man/setinfo.Rd
  R-package/man/slice.Rd
Labels: r-package

#2451 [docs][python] fixed docstrings
  python-package/lightgbm/basic.py
  python-package/lightgbm/callback.py
  python-package/lightgbm/engine.py
  python-package/lightgbm/plotting.py
  python-package/lightgbm/sklearn.py
Labels: blocking

#2334 [R-package] factored dependency 'magrittr' out of R package
  R-package/DESCRIPTION
  R-package/NAMESPACE
  R-package/R/lgb.importance.R
  R-package/R/lgb.interprete.R
  R-package/R/lgb.model.dt.tree.R
  R-package/R/lgb.plot.importance.R
  R-package/R/lgb.plot.interpretation.R
  docs/conf.py
Labels: r-package
